[submodule "external/ceph-ansible"]
	path = external/ceph-ansible
	url = https://github.com/ceph/ceph-ansible.git
[submodule "roles/users"]
	path = roles/users
	url = https://github.com/kevincoakley/ansible-role-user.git
[submodule "roles/groups"]
	path = roles/groups
	url = https://github.com/kevincoakley/ansible-role-group.git
